body{background-color: rgb(233, 233, 255);text-decoration-color: blue;}
h2{color:rgb(118, 83, 0);}
h3{color:rgb(118, 83, 0);}
h6{color:rgb(118, 83, 0);}
.nuevafuente{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
#plol{font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-weight:100;}